<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Índices Biológicos</title>

      <!-- Estilos existentes -->
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/responsive.css">
      <link rel="icon" href="/images/fevicon.png" type="image/gif" />
      <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">

      <!-- Leaflet CSS -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

      <style>
         #map {
            height: 600px;
            margin-top: 40px;
            margin-bottom: 40px;
         }
      </style>
   </head>

   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/images/loading.gif" alt="loading" /></div>
      </div>

      <!-- header -->
      <header>
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="/"><img src="/images/ods_14_icon.jpg" alt="logo" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="header_information">
                        <nav class="navigation navbar navbar-expand-md navbar-dark">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04">
                              <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item"><a class="nav-link" href="/indicesbio">Indices Biologicos</a></li>
                                 <li class="nav-item"><a class="nav-link" href="/nutrientes_2">Nutrientes</a></li>
                                 <li class="nav-item"><a class="nav-link" href="/elementosFisioquimicos">elementos Fisicoquimicos</a></li>
                                 <li class="nav-item"><a class="nav-link" href="/temperatura">Temperatura Media de las Aguas</a></li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->

      <!-- Mapa -->
      <div class="container">
         <h2 class="text-center">Mapa de Estaciones 2024</h2>
         <div id="map"></div>
      </div>

      <!-- Contacto (como estaba antes) -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Request A Call Back</h2>
                  </div>
               </div>
               <div class="col-md-6 offset-md-3">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Full Name" type="text" name="Full Name">
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="email" name="Email">
                        </div>
                        <div class="col-md-12">
                           <textarea class="contactus" placeholder="Message" name="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row border-top">
                  <div class="col-md-6 padding_bottom1">
                     <h3>Subscribe Now</h3>
                     <form class="footer_form">
                        <input class="enter" placeholder="Enter your email" type="email" name="email">
                        <button class="submit">Submit</button>
                     </form>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 offset-md-1 padding_bottom1">
                           <h3>Links</h3>
                           <ul class="cont">
                              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                           </ul>
                        </div>
                        <div class="col-md-5 offset-md-1">
                           <h3>Contact us</h3>
                           <ul class="cont">
                              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. <a href="https://html.design/"> Free Html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!-- Scripts -->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/jquery-3.0.0.min.js"></script>
      <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/js/custom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

      <!-- Leaflet + Proj4 -->
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
      <script src="https://unpkg.com/proj4@2.8.0/dist/proj4.js"></script>

      <!-- Mapa Script -->
      <script>
         const estaciones = <%- JSON.stringify(procesado) %>;
         console.log(estaciones);

         const avgLat = 41.39;
         const avgLon = 2.15;
         const map = L.map('map').setView([avgLat, avgLon], 9);

         L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
         }).addTo(map);

         proj4.defs("EPSG:25831", "+proj=utm +zone=31 +ellps=GRS80 +units=m +no_defs");
         const fromEPSG25831 = proj4("EPSG:25831", "WGS84");

         function valorToColor(val, min, max) {
            const norm = (val - min) / (max - min);
            const r = Math.round(norm * 255);
            const g = Math.round((1 - norm) * 255);
            return `rgb(${r}, ${g}, 0)`;
         }

         const valores = estaciones.map(e => e.Valor);
         const min = Math.min(...valores);
         const max = Math.max(...valores);

         estaciones.forEach(est => {
            const [lon, lat] = fromEPSG25831.forward([est["UTM X"], est["UTM Y"]]);
            const color = valorToColor(est.Valor, min, max);

            L.circleMarker([lat, lon], {
               radius: 6,
               fillColor: color,
               color: color,
               weight: 1,
               fillOpacity: 0.7
            })
            .bindPopup(`<b>Estació:</b> ${est["Codi Estació"]}<br><b>Valor:</b> ${est.Valor.toFixed(2)}`)
            .addTo(map);
         });
      </script>
   </body>
</html>
